<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<plugin
   id="com.choicemaker.cm.urm.base"
   name="Base Plug-in"
   version="2.7.0"
   provider-name="ChoiceMaker LLC">

   <runtime>
      <library name="urm-base.jar"/>
   </runtime>

   <requires>
      <import plugin="com.choicemaker.e2"/>
   </requires>

</plugin>
