bash.exe.stackdump
tmp
*.BAK-??
*.tgz
/.metadata
*~
.*.swp
.DS_Store
._.DS_Store
.classpath
.project
.recommenders
.settings
_err[0-9]*
_out[0-9]*
target*
PmjbApp
CM-Analyzer
/example_models
pom.xml.versionsBackup
/work
