bash.exe.stackdump
tmp
*.BAK-??
*.tgz
*~
.*.swp
.DS_Store
._.DS_Store
.classpath
.project
.recommenders
.settings
_err[0-9]*
_out[0-9]*
javadoc*log*
target*
PmjbApp
CM-Analyzer
pom.xml.versionsBackup
effective-pom.xml
/.metadata
/example_models
/work
/sources
