<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.db.jdbc"
   name="com.choicemaker.cm.io.db.jdbc"
   version="2.7.1">

   <runtime>
      <library name="jdbc.jar"/>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.io.db.base"/>
      <import plugin="com.choicemaker.cm.aba.base"/>
      <import plugin="com.choicemaker.cm.io.composite.base"/>
   </requires>


</plugin>
