<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<plugin
   id="com.wcohen.ss"
   name="SecondString Plug-in"
   version="2.7.0"
   provider-name="ChoiceMaker LLC">

   <runtime>
      <library name="secondstring.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension-point id="stringdistance" name="stringdistance" schema="schema/stringdistance.exsd"/>

</plugin>
