<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<plugin
   id="com.choicemaker.cm.matching.en"
   name="Matching locale en Plug-in"
   version="2.7.0"
   provider-name="ChoiceMaker LLC">

   <runtime>
      <library name="en.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
