<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<plugin
   id="com.choicemaker.cm.transitivity.server"
   name="com.choicemaker.cm.transitivity.server"
   version="2.5.0">

   <runtime>
      <library name="transitivity-server.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.oaba.server"/>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.oaba.core"/>
      <import plugin="com.choicemaker.cm.oaba"/>
      <import plugin="com.choicemaker.cm.transitivity.core"/>
      <import plugin="com.choicemaker.cm.transitivity"/>
      <import plugin="com.choicemaker.cm.io.blocking.automated.base"/>
   </requires>


</plugin>
