<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<plugin
   id="com.choicemaker.cm.urm.api"
   name="com.choicemaker.cm.urm.api"
   version="1.0.0">

   <runtime>
      <library name="urm-api.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.analyzer.base"/>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.oaba.api"/>
      <import plugin="com.choicemaker.cm.oaba.core"/>
      <import plugin="com.choicemaker.cm.oaba"/>
      <import plugin="com.choicemaker.cm.aba.base"/>
      <import plugin="com.choicemaker.cm.io.db.base"/>
      <import plugin="com.choicemaker.cm.io.flatfile.base"/>
      <import plugin="com.choicemaker.cm.io.xml.base"/>
      <import plugin="com.choicemaker.cm.transitivity"/>
      <import plugin="com.choicemaker.cm.transitivity.core"/>
      <import plugin="com.choicemaker.cm.transitivity.api"/>
      <import plugin="com.choicemaker.cm.urm"/>
      <import plugin="com.choicemaker.cm.urm.adaptor"/>
      <import plugin="com.choicemaker.cm.urm.base"/>
   </requires>

</plugin>
