<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<plugin
   id="com.choicemaker.cm.io.blocking.base"
   name="Blocking Base Plug-in"
   version="2.7.0"
   provider-name="ChoiceMaker LLC">

   <runtime>
      <library name="blocking.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
