<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.db.mysql"
   name="com.choicemaker.cm.io.db.mysql"
   version="2.5.0">

   <runtime>
      <library name="mysql.jar"/>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.io.db.base"/>
      <import plugin="com.choicemaker.cm.io.blocking.automated.base"/>
      <import plugin="com.choicemaker.cm.io.composite.base"/>
   </requires>


</plugin>
