<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<plugin
   id="com.choicemaker.cm.io.db.postgres"
   name="Postgres DB IO Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="postgres.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.io.db.base"/>
      <import plugin="com.choicemaker.cm.aba.base"/>
   </requires>


   <extension
         id="PosgresDbObjectMaker"
         point="com.choicemaker.e2.applications">
      <application>
         <run
               class="com.choicemaker.cm.io.db.postgres.dbom.DbDbObjectMaker">
         </run>
      </application>
   </extension>
   <extension
         point="com.choicemaker.cm.core.objectGenerator">
      <generator
            description="Postgres Custom Objects (DDL)"
            class="com.choicemaker.cm.io.db.postgres.dbom.DbDbObjectMaker">
      </generator>
   </extension>
   <extension
         id="postgresDatabaseAccessor"
         name="postgresDatabaseAccessor"
         point="com.choicemaker.cm.aba.base.databaseAccessor">
      <databaseAccessor
            class="com.choicemaker.cm.io.db.postgres.blocking.PosgresDatabaseAccessor">
      </databaseAccessor>
   </extension>
   <extension
         id="postgresDatabaseAbstraction"
         name="postgresDatabaseAbstraction"
         point="com.choicemaker.cm.io.db.base.databaseAbstraction">
      <databaseAbstraction
            class="com.choicemaker.cm.io.db.postgres.blocking.PosgresDatabaseAbstraction">
      </databaseAbstraction>
   </extension>
   <extension
         id="postgresRecordSourceSerializer"
         name="Postgres Record-Source Serializer"
         point="com.choicemaker.cm.core.rsSerializer">
      <serializer
            class="com.choicemaker.cm.io.db.postgres.PostgresRecordSourceSerializer">
      </serializer>
   </extension>

</plugin>
